[defaults]
inventory = aws_ec2.yaml
host_key_checking = False
retry_files_enabled = False
timeout = 30
interpreter_python = auto_silent
stdout_callback = yaml

[privilege_escalation]
become=True
become_method=sudo
become_user=root
